@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffdb58;
  --color-primary-light: #ffdf69;
  --color-primary-dark: #e6c54f;
  --dark-color: #404040;
  --dark-color-tint: #666666;
  --light-color: #ececec;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.application {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  width: 95%;
  height: 95vh;
  background-color: orange;
  transition: all 0.5s;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--dark-color);
}

.header-container {
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-icon {
  color: var(--color-primary);
  width: 4rem;
  height: 4rem;
}

.header {
  font-size: 4.2rem;
}

.tools {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools-icon {
  color: var(--light-color);
  width: 4rem;
  height: 4rem;
  transition: all 0.5s;
}

.tools-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}

#map {
  background-color: grey;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 9998;
}

.form {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #808080;
  width: 50%;
  height: 90vh;
  border-radius: 1rem;
  overflow-y: scroll;
}

.form__header-container {
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form__header-icon {
  color: var(--color-primary);
  width: 4rem;
  height: 4rem;
}

.form__header {
  font-size: 4.2rem;
}

.form__section-container {
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2rem;
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__label {
  color: var(--color-primary);
  font-size: 2rem;
  align-self: flex-start;
}

.form__input,
.form__input--notes {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  border: none;
  background-color: #a6a6a6;
  border-radius: 0.5rem;
  color: #4d4d4d;
}

.form__input--notes {
  max-width: 100%;
  min-width: 100%;
  max-height: 10rem;
  min-height: 10rem;
}

::placeholder {
  color: #4d4d4d;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #c0c0c0;
}

.star-widget-container {
  display: flex;
  justify-content: center;
}

.star-widget__input {
  display: none;
}

.star-widget label {
  font-size: 4rem;
  color: #444;
  float: right;
  transition: all 0.1s;
}

.star-widget__input:not(:checked) ~ label:hover,
.star-widget__input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

.star-widget__input:checked ~ label {
  color: #fd4;
}

.star-widget__input#rate-5:checked ~ label {
  color: #ffe77c;
  text-shadow: 0 0 2rem #952;
}

.form__button {
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 40%;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  transition: background-color 0.3s;
  color: #4d4d4d;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(1.05);
}

.sidebar {
  grid-template-columns: 1fr;
  z-index: 9996;
  position: absolute;
  background-color: var(--dark-color);
  width: 40%;
  height: 95vh;
  right: 0;
  transition: all 0.5s;
  overflow-y: scroll;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.translate {
  transform: translateX(100%);
}

.sidebar__close-button {
  width: 5rem;
  height: 5rem;
  align-self: flex-start;
  transition: all 0.3s;
}

.sidebar__close-button:hover {
  cursor: pointer;
  color: red;
}

.sidebar__heading {
  padding: 2rem;
  font-size: 4rem;
  color: var(--color-primary);
}

.sidebar__button-title {
  font-size: 2rem;
  color: var(--light-color);
  padding-bottom: 1rem;
}

.sidebar__button-container {
  display: flex;
  gap: 2rem;
}

.sidebar__button {
  padding: 0.8rem 1.6rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--dark-color);
  border-radius: 0.4rem;
}

.sidebar__button:hover {
  cursor: pointer;
  background-color: var(--color-primary-dark);
}

.restaurant {
  padding: 1rem;
  margin: 2rem 0;
  width: 80%;
  height: 10rem;
  background-color: var(--dark-color-tint);
  border-radius: 1rem;
}

.restaurant__information {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.restaurant__information__title {
  font-size: 1.8rem;
}

.restaurant__icon-container {
  display: flex;
  gap: 2rem;
}

.restaurant__icon {
  width: 2rem;
  height: 2rem;
}

.restaurant__icon__nav:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.restaurant__icon__trash:hover {
  cursor: pointer;
  color: red;
}

.restaurant__information__data {
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.chinese-popup .leaflet-popup-content-wrapper {
  border-left: 1rem solid green;
}
.japanese-popup .leaflet-popup-content-wrapper {
  border-left: 1rem solid orange;
}
